body {
        font: 400 15px Tahoma, sans-serif;
        line-height: 1.8;
        background-color: #D9D7D8;
        color:black;
        margin: auto;
        text-align:center;
        letter-spacing: 1px;
  }

header{
    background-color: #A0FF86;
}

h1{
    font: 60px Tahoma, sans-serif;
    line-height: 1.8;
    color:black;
     background-color: #A0FF86;
     margin-top: 0px;
}

h3{
    color:red;
}



textarea.btnOculto {
    resize: none;
    background-color: transparent;
   color:red;
}

textarea.coments {
    resize: none;
    background-color: white;
    color:black;
}

div.sPreguntas{
    text-align:left;
    font: 20px Tahoma, sans-serif;
    line-height: 1.8;
    margin: 0 auto;
    position:relative;
    display:block;
    width: 600px;
    height: 800px;
    color:black;
}


div.sDatos{
    text-align:left;
    display: inline-block;
    font: 20px Tahoma, sans-serif;
    line-height: 1.8;
    width: 600px;
    height: 600px;
    color:black;
}