
h1{
    font: 60px Tahoma, sans-serif;
    line-height: 1.8;
    color:white;
    background-color: #7B22F7;
    margin: 0 auto;
    text-align:center;
    letter-spacing: 1px;
}

h3{
    color:#333;
}

h2{
    font: bold 40px/1.5 Helvetica, Verdana, sans-serif;    
    color:#333;
}


ul {
  list-style-type: none;
  width: 500px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;    
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
 
li p {
  font: 200 12px/1.5 Tahoma, "Times New Roman", serif;
}
 
li {
  padding: 10px;
  overflow: auto;
    color:blue;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

p.oper{
    font-size: 20px;
    color:red;
}

