#migas {	
	padding: 1px;
	margin-bottom: 25px;
	font-size: 0.7em;
}

#migas ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
} 

#migas ul li {
	margin-left: 0;
	padding-left: 2px;
	border: none;
	list-style: none;
	display: inline;
}

body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: #333300;
  background-color: #CCCCFF }

footer {
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: #333300;
  background-color: #CCCCFF;
  font-size: 70%; }  

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }

h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif ;
	font-size: 150%; }

h2 {font-size: 125%; }

h3 {font-size: 100%; }

h4 {color:black;
	background:#CCCCFF ;
	font-size: 90%; }

h5 {color:black;
	background:#CCCCFF ;
	font-size: 80%; }


ul.navbar li {
  color: black;
  background: #CCCCFF;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em #CCCCFF }

ul.navbar a {
  text-decoration: none }

a:link {
  color: blue;
  background: #CCCCFF; }

a:visited {
  color: purple;
  background: #CCCCFF; }

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }

