body {
      font: 400 15px Tahoma, sans-serif;
      line-height: 1.8;
      color: #818181;
      background-color: black;
      background-image: url(https://unioviedo-my.sharepoint.com/personal/uo252406_uniovi_es/_layouts/15/guestaccess.aspx?docid=075bcee4785aa4936945c566fd619413b&authkey=AVgOKRVXcS9KF3oF5Bw14Lc&e=c380b145e736413988aa5d35a0464a8f);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: right;
      
  }




h1{
    
    margin-top: 2cm;
    font-family: "SF Text",Serif;
    font-size: 70px;
    color:white;
    background-color: transparent;
}



