body {
        font: 400 15px Tahoma, sans-serif;
        line-height: 1.8;
        background-color: #A3A39E;
        color:white;
        margin: auto;
        text-align:center;
        letter-spacing: 1px;
  }


h1{
    font: 60px Tahoma, sans-serif;
    line-height: 1.8;
    color:#A0FF86;

}


form{
   font: 20px Tahoma, sans-serif;
    line-height: 1.8;
    color:white;
}

form.campos{
   font: 20px Tahoma, sans-serif;
    line-height: 1.8;
    color:white;
    text-align:left;
    display: inline-block;
    float: center;
}

input {
  display: inline-block;
  float: center;
}



