
h1{
    font: 60px Tahoma, sans-serif;
    line-height: 1.8;
    color:white;
    background-color: #7B22F7;
    margin: 0 auto;
    text-align:center;
    letter-spacing: 1px;
}

.rojo{
    color:red
}

table{
    border: 2px solid gray;
}



li[id='VD']{
    color:green;
}

li[id='OK']{
    color:purple;
}

li[id='LA']{
    color:pink;
}
 

