 html, body, #mapa-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -160px;
        z-index: 5;
        background-color: #fff;
        border: 1px solid #999;
        text-align: center;
      }



    input[type=Button] {
        background-color: white;
        color: black;
        padding: 2px 78px;
        font-size: 16px;
        text-decoration: none;  
        text-align: center;
        border-style: solid;
        border-color: black;
        border-radius: 10%;
    }


    input[type=Button]:hover {
    background-color: #7BC8FF; 
    }


    
    input[type=Button]:active {
      transform: translateY(5px); 
    }